<div class="container-fluid paddding mb-5" *ngIf = "posts.length !=0">
    <div class="row mx-0">
        <div class="col-md-6 col-12 paddding">
            <div class="fh5co_suceefh5co_height"><img [src]=posts[0].urlToImage alt="img"/>
                <div class="fh5co_suceefh5co_height_position_absolute"></div>
                <div class="fh5co_suceefh5co_height_position_absolute_font">
                    <div class=""><a href="#" class="color_fff"> <i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{posts[0].publishedAt | date:'medium'}}
                    </a></div>
                    <div class=""><a href="javascript:void(0);" (click)="goToLink(posts[0].url)"   class="fh5co_good_font"> {{posts[0].title}} </a></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 col-6 paddding"  *ngFor='let post of posts.slice(1);'>
                    <div class="fh5co_suceefh5co_height_2"><img [src]=post.urlToImage alt="img"/>
                        <div class="fh5co_suceefh5co_height_position_absolute"></div>
                        <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                            <div class=""><a href="#" class="color_fff"> <i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{post.publishedAt | date:'medium'}} </a></div>
                            <div class=""><a href="javascript:void(0);" (click)="goToLink(post.url)" class="fh5co_good_font_2" > {{post.title}} </a></div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
